@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border !scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
  button {
    @apply active:outline-none;
  }
}

@layer utilities {
  .heading {
    @apply font-bold text-4xl md:text-5xl text-center;
  }
}

/* Add the background image */
.bg-explosion {
  background-image: url('/bg-explosion.png');
  background-size: cover;
  background-position: center;
}

.circle {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
  width: 250px; /* Smaller than the circle */
  height: 250px;
  background-image: url('/coverimg.png');
  background-size: cover;
  border-radius: 50%;
  z-index: 2; /* Ensure the logo is above the ring */
}

.ring {
  position: absolute;
  width: 200px; /* Same size as .circle to ensure same origin */
  height: 200px;
  border-radius: 50%;
  background: conic-gradient(
    from 0deg,
    rgb(22, 0, 13),
    rgb(18, 22, 248),
    rgb(56, 33, 158),
    rgb(165, 102, 248)
  );
  mask: radial-gradient(farthest-side, transparent calc(100% - 4px), white 0); /* Create a transparent center */
  animation: rotateRing 10s linear infinite;
  z-index: 1; /* Ensure the ring is behind the logo */
}

.outer-ring {
  position: absolute;
  width: 250px; 
  height: 250px;
  border-radius: 50%;
  background: conic-gradient(
    from 0deg,
    rgba(0, 0, 51, 1), /* Dark Blue */
    rgba(0, 0, 102, 1), /* Darker Blue */
    rgba(71, 37, 226, 1), /* Purple */
    rgba(119, 34, 255, 1)
  );
  mask: radial-gradient(farthest-side, transparent calc(100% - 4px), white 0); /* Create a transparent center */
  animation: rotateOuterRing 10s linear infinite; /* Opposite direction */
  z-index: 0; /* Ensure the outer ring is behind everything else */
}

@keyframes rotateRing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateOuterRing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg); /* Rotate in the opposite direction */
  }
}

.glass-text {
  font-size: 1rem; /* Adjust as needed */
  color: transparent;
  background: rgba(240, 230, 230, 0.404);
  -webkit-background-clip: text;
  backdrop-filter: blur(5px);
}

